<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - SpamMaster-2000</title>
    {% else %}
    <title>SpamMaster-2000</title><br>
    <p>The Internet's #1 Source of Wasted Bandwith</p>
    {% endif %}
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('.static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/moment.min.js') }}"></script>
    {% if g.locale != 'en' %}
    <script src="{{ url_for('.static', filename='js/moment-' + g.locale + '.min.js') }}"></script>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
    function translate(sourceLang, destLang, sourceId, destId, loadingId) {
        $(destId).hide();
        $(loadingId).show();
        $.post('/translate', {
            text: $(sourceId).text(),
            sourceLang: sourceLang,
            destLang: destLang
        }).done(function(translated) {
            $(destId).text(translated['text'])
            $(loadingId).hide();
            $(destId).show();
        }).fail(function() {
            $(destId).text("{{ _('Error: Could not contact server.') }}");
            $(loadingId).hide();
            $(destId).show();
        });
    }
    </script>
  </head>
<body>
 <header>
     <nav nav navbar-header>
       <div class="jumbotron">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
         <h1><font color="red">SpamMaster 2000</font><h1>
         <h3><font color="red">The Internet's #1 Source of wasted Bandwith</font><style="text-align: center;"</style></h3>
              <button type ="button" class="navbar-toggle" data-toggle="collaspe" data-target=".navbar-collapse">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
             </button>

           <div class="navbar-collapse collapse"> </div>
               <ul class= "navbar-list">
                      <a class="btn btn-danger btn-lg" href="{{ url_for('index') }}">{{ _('Home') }}</a>
                      {% if g.user.is_authenticated %}
                      <a class="btn btn-danger btn-lg" href="{{ url_for('user', nickname=g.user.nickname) }}">{{ _('User Profile') }}</a>
                      <a class="btn btn-danger btn-lg" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
                   {% endif %}
              </ul>
            <div class="nav-collapse collapse">
                   {% if request.user.is_authenticated %}
               <form class="navbar-search pull-right" action="{{ url_for('search') }}" method="post" name="search">{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20, placeholder=_('Search'), class="search-query")}}</form>
                   {% endif %}
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="span12">
                 {% block content %}{% endblock %}
           </div>
       </div>
     </div>
  </body>
</html>
